
body{
	font-family:'Kaushan Script', cursive;
}
.formulario{
	width: 50%;
	transition: 2s;
	margin-top: 100px;
}

h1{
	font-size: 30px;
}
<!--seccion de grupo-->
.grupo{
	margin-top: -50px;
	border: 2px solid white;
}

.fondo{
	background: rgba(255, 213, 0,1);
	background-repeat: no-repeat;
	background-position: center;
}